---
import EditorProfile from '@/components/EditorProfile.astro';
import SidebarServicePromos from '@/components/SidebarServicePromos.astro';
---

<aside class="sidebar" aria-label="サイドバー">
  <div class="sidebar__inner">
    <EditorProfile headingId="editor-profile-sidebar" />
    <SidebarServicePromos />
  </div>
</aside>
